.bannerBacki {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imageSliderBacki1 {
    background-image: url(../../Images/divBack5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 4s ease-in-out;
    /* filter: contrast(1); */
}

.imageSliderBacki2 {
    background-image: url(../../Images/divBack1.png);
    background-position: center;
    transition: 4s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: contrast(1); */
}

.imageSliderBacki3 {
    transition: 4s ease-in-out;
    background-image: url(../../Images/divBack4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: contrast(1); */
}

.imageShadow {
    box-shadow: 0px 0px 15px 5px rgba(173, 168, 168, 0.619) !important;
    z-index: 50;
    border-radius: 1px;
    padding: 3px 5px ;
}

.footerBacki{
    /* background-image: url(../../Images/divBack5.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbarBacki,  .offcanvasBacki{
    /* background-image: url(../../Images/divBack1.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgBacki{
    background-image: url(../../Images/finalBack.jpg);
    background: linear-gradient(to bottom, royalblue, #7c18c5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}